@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px
}

p{
  font-family: 'Bebas Neue', cursive;
  font-size: 35px
}

svg#mindmap {
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}